<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>AREA</td>
            <td>ADMIN-NAME</td>
            <td>BLOCK</td>
            <td>MCH</td>
            <td>OTHER-NOTES</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of responsibilityAreas">
            <td> {{r.id}}</td>
            <td> {{r.accountsArea}}</td>
            <td> {{r.adminName}} </td>
            <td> {{r.minCreditValue}} - {{r.maxCreditValue}} </td>
            <td> {{r.moneyChannel}} </td>
            <td> {{r.otherNotes}} </td>
        </tr>
    </tbody>
</table>

<h4 (click) = "openAddWindow()">ADD ADMIN</h4>